<!DOCTYPE html>
<html>
<head>
  <title>GuitarShop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'span12'>
      <div class = "navbar">
        <div class = "navbar-inner">

          <%= link_to 'GuitarSHOP', guitars_path, :class => "brand" %>

          <div class = "nav pull-right">
            <% if user_signed_in? %>
              <span>Здравствуйте, <%= link_to current_user.email, user_path(current_user) %></span>
              <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
            <% end %>
          </div>
        </div>
      </div>

      <% if notice != nil %>
        <p class="notice alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert != nil %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>

      <% if user_signed_in? %>
        <% @cart = Cart.where(:user_id == current_user.try(:id)).last %>
        <div class="cart_div">
          <p>
            <%= link_to "Корзина (#{@cart.guitar_ids.length})", cart_path(@cart) %>
            <%= link_to 'Заказать', orders_path(:guitar_ids => @cart.guitar_ids), method: :post, :class => "btn btn-primary" %>
          </p>
      <% end %>
      
    </div>
  </div>
</div>
</body>
</html>
